<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - TreeTop</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="page-container">
        <nav class="nav-bar">
            <div>
                <h1>Treetop</h1>
            </div>
        </nav>
        <header>
            <h1 class="abouttree">About TreeTop</h1>
        </header>
        <main>
            <section class="content-section">
                <p>
                    Welcome to TreeTop, where learning meets innovation! This platform began as a project aimed at
                    enhancing my coding skills and exploring the vast potential of web development. Driven by a passion
                    for technology, TreeTop is a space to grow, experiment, and build meaningful connections through
                    creative solutions.
                </p>
                <p>
                    What started as a personal learning journey has now evolved into a user-friendly platform designed
                    to solve everyday challenges. TreeTop embodies the belief that technology can empower individuals,
                    create new opportunities, and bring people closer together.
                </p>
                <p>
                    Thank you for joining me on this exciting path of continuous learning and development. I look
                    forward to evolving with the support and feedback of users like you as TreeTop expands into new
                    horizons!
                </p>

            </section>
        </main>
        <footer>
            <div class="footer">
                <p>Treetop</p>
                <div class="footer-links">
                    <a href="/about">About</a>
                    <a href="/privacy">Privacy</a>
                    <a href="/contactus">Contact us</a>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>