<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/loginpage.css">
    <title>Treetop</title>
</head>

<body>
    <div class="background-container">
        <div class="navbar">
            <h1 class="h11">Treetop</h1>
        </div>
        <div class="login-container">
            <h2>Welcome back</h2>
            <form action="/login" method="POST">
                <div>
                    <label for="email">Email</label>
                    <div>
                    <input type="email" id="email" name="userdetailslogin[email]">
                </div>
                </div>
                <div>
                    <label for="password">Password</label>
                    <div>
                    <input type="password" id="password" name="userdetailslogin[password]">
                </div>
                </div>
                <div>
                    <button>Login</button>
                </div>
                <p class="forgetpassword"><a href="/resetpassword">Forgot password</a></p>
                <p class="account">Don't have an account <a href="/signup" class="register"> Register</a></p>
            </form>
        </div>
        <div class="footer">
            <p>Treetop</p>
            <div class="footer-links">
                <a href="/about">About</a>
                <a href="/privacy">Privacy</a>
                <a href="/contactus">Contact us</a>
            </div>
        </div>
    </div>
</body>

</html>