<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/resetpass.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <title>Treetop</title>
</head>

<body>
    <div class="background-container">
        <nav class="nav-bar">
            <div>
                <h1>Treetop</h1>
            </div>
        </nav>
        <div class="reset-container">
            <h2>Reset password</h2>
            <form action="/resetpassword" method="POST">
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="reset[email]" id="email">
                </div>
                <div>
                    <label for="mobile">Mobile Number</label>
                    <input type="number" name="reset[mobile]" id="mobile">
                </div>
                <div>
                    <label for="password">New Password</label>
                    <input type="password" name="reset[password]" id="password">
                </div>
                <div>
                    <button>Reset</button>
                </div>
            </form>
            <div class="last-div">
                <p class="go-p">Go back to <a class="go-link" href="/login">Login</a></p>
            </div>
        </div>
        <div class="footer">
            <p>Treetop</p>
            <div class="footer-links">
                <a href="/about">About</a>
                <a href="/privacy">Privacy</a>
                <a href="/contactus">Contact us</a>
            </div>
        </div>
    </div>
</body>

</html>