body, html {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.nav-bar {
    background-color: black;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-left h1 {
    font-size: 24px;
    margin: 0;
    font-weight: bold;
    letter-spacing: 1px;
}

.nav-center {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-center a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
    transition: color 0.3s, border-bottom 0.3s;
    border-bottom: 3px solid transparent; 
}

.nav-center a:hover,
.nav-center a.active {
    color: #3498db;
    border-bottom: 3px solid #3498db; 
}

.logout-button {
    padding: 10px 20px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.logout-button:hover {
    background-color: #c0392b;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.main {
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
}

.post-list {
    list-style-type: none;
    padding: 0;
    margin: 0 auto; 
    width: 500px; 
}

.post-item {
    background-color: white;
    padding: 15px;
    margin-bottom: 20px; 
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.post-image {
    width: 100%; 
    height: auto; 
    object-fit: contain; 
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #f4f4f4; 
}

.post-item h3 {
    margin: 0;
    font-size: 16px;
    color: #1c1e21; 
    font-weight: bold;
    align-self: flex-start; 
    padding-left: 10px; 
    padding-bottom: 15px;
}

.post-item p {
    color: #333;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 0;
    align-self: flex-start; 
    padding: 0 10px; 
    overflow-y: auto; 
    max-height: 150px; 
    word-wrap: break-word; 
    line-height: 1.5; 
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0);
    display: flex;
    justify-content: space-between;
    color: white;
}

.footer p {
    margin: 0;
    padding: 0 20px;
}

.footer-links {
    display: flex;
}

.footer-links a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.like-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: 1%;
}

.like-button {
    padding: 8px 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.like-button:hover {
    background-color: #2980b9;
}